<!doctype html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <style>
      body {
        padding-top: 30px;
      }
    </style>
    <!--
    <link href="./n3-charts_files/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
    <link href="./n3-charts_files/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
    -->
    <link href="app.css" media="screen" rel="stylesheet" type="text/css">
    <link href="line-chart.css" media="screen" rel="stylesheet" type="text/css">
    <title>n3-charts</title>
  </head>


  <body>
    <div ng-app="myApp">
      <!--
        <bars data="40,4,55,15,16,33,52,20"></bars>
        -->
        <lines></lines>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.js"></script>
    <script src="http://d3js.org/d3.v3.js"></script>
    <script src="line-chart.js"></script>
    <script src="app.js"></script>
  </body>
</html>
