<h1>
	Consumption

</h1>


<section data-ng-controller="ConsumptionsController" data-ng-init="findOne()">
<!--
<div ng-app="myApp">
  <lines></lines>
    <lines data=[1,2,3]></lines>
</div>
-->
  <div>
    <lines data={{consumptions.consumptions}}></lines>
  </div>
  <!--
	<ul class="consumptions unstyled">
		<li data-ng-repeat="consumption in consumptions.consumptions">
			<span>{{consumption.CONTRACT_ACCOUNT_NO_MASKED}}</span> /
			<span>{{consumption.PLN_AREA_C}}</span>
			<div>{{consumption.POSTAL_CD_FINAL}}</div>
			<div>{{consumption.PREMISE_TYPE}}</div>
			<div>{{consumption.MONTH}}</div>
			<div>{{consumption.PERTURBATED_CONSUMPTION}}</div>
			<div>{{consumption.PERTURBATED_AMT}}</div>
		</li>
	</ul>
  -->
</section>

